#SideMenu {
    height: 100vh;
    min-width: 250px;

    .icon {
        font-size: 30px;
    }

    #logo {
        font-size: 20px;
        font-weight: 700;
        color: var(--mainRed);
    }

    .hovLink {
        cursor: pointer;
        transition: ease-in-out 400ms;

        &:hover {
            background-color: var(--mainYellow);

        }
    }


    .activeLink {
        background-color: var(--mainYellow);

    }

}